<div class="hero-image">
    <div class="hero-text"> 
        <h1>I am Ivan Malinovski</h1>
        <p>And I help businesses book from 20 to 60 meetings per month using the latest sales tech (and the art of excellent copy).</p>
    </div>
</div>
<div>
    <H2>I help B2B companies struggling with</H2>
    <ul>
        <li>Low ROI on outbound</li>
        <li>Low response and schedule rate</li>
    </ul>
    <p>Turn those metrics upside down.</p>
    <h2>I help B2B companies without any outbound</h2>
    <ul>
        <li>Develop a successful outbound system</li>
        <li>Keep it that way, without a filthy $4000 retainer</li>
    </ul>
    <h2>Or if you want to outsorce completely...</h2>
    <p>Ditch the agency! Cold emails are not rocket science, despite what agencies will tell you before locking you in a $4000 monthly retainer.</p>
    <p>The sales tech is getting too good to be true (quite literally). It's super easy to use, and you only need one person in your team to manage it.</p>
    <p>There is 1 problem though, istakes are expensive (and discouraging). Many company owners quit before they get a system that brings them daily sales opportunities</p>
    <ul>
        <li>Reason 1: Retainer too expensive (aka negative ROI)</li>
        <li>Reason 2: Figuring it out inhouse is too costly, no proven process = no leads, money wasted</li>
    </ul>    
    <h3>Solution!</h3>
        <p>Hire a professional, with a hundred failed campaigns, and three hundred more winning ones, thousands of $$$$ spent on trial and error. <br>You pay him once, and get a flawless campaign.<br>Need someone to do response handling? No problem, the pro will assign a freelancer personally trained by him on how to run YOUR campaign. 24/7 availability.</p>
        
    <h2>How it works</h2>
    <p></p>
</div>

<div class="glass">
    <div class="water"></div>
    <div class="droplet"></div>
  </div>