<div class="hero-image">
    <div class="hero-text"> 
        <h1>I am Ivan Malinovski</h1>
        <p>And I'm actively helping businesses book from 20 to 60 meetings per month<br>with the latest sales tech.</p>
    </div>
</div>
<div>
    <H2>I've helped companies that are struggling with</H2>
    <ul>
        <li>Low ROI on outbound, despite best efforts</li>
        <li>Sending lots of emails, not getting lots of meetings</li>
    </ul>
    <p>To turn mediocre metrics into a river of calls and positive responses</p>
    <h2>Ditch the agency</h2>
    <p>Cold emails are not rocket science, despite what agencies will tell you before locking you in a $4000 monthly retainer.</p>
    <p>The sales tech is getting too good to be true lol, which is why these agencies are scamming you. It's super easy to use.</p>
    <p>The only 1 problem, is that mistakes are expensive and discouraging. So many company owners quit before they get a system that brings them daily sales opportunities</p>
    <p>So imagine if you could hire a professional, with a hundred failed campaigns, and three hundred more winning ones, with thousands of $$$$ spent on learning these exact curveballs simply build you a system and leave you with a blueprint on how to sustain it yourself with little effort?</p>
    <h2>How it works</h2>
    <p></p>
</div>